In [ ]:
import pandas as pd
from pandas import json_normalize
properties = pd.read_csv("sample.csv")

In [ ]:
print(properties.isnull().mean())

id                  0.0
title               0.0
description         0.0
price               0.0
price_display       0.0
locations           1.0
property_details    0.0
image               0.0
contact             1.0
maps                0.0
status              0.0
published_at        0.0
created_by          1.0
updated_by          1.0
created_at          0.0
updated_at          0.0
lat                 0.0
lng                 0.0
country             0.0
state               0.0
city                0.0
district            0.0
contact_fullname    1.0
phone_number        1.0
origin_id           0.0
dtype: float64

In [ ]:
print(properties.dtypes)

id                    int64
title                object
description          object
price                 int64
price_display        object
locations           float64
property_details     object
image                object
contact             float64
maps                 object
status               object
published_at         object
created_by          float64
updated_by          float64
created_at           object
updated_at           object
lat                 float64
lng                 float64
country              object
state                object
city                 object
district             object
contact_fullname    float64
phone_number        float64
origin_id             int64
dtype: object

In [ ]:
df1= properties[['title', 'price', 'property_details','status']]
print(df1)

                                                  title        price  \
0     Rumah Minimalis Berkonsep Villa di Areal Elite...   1080000000
1           Rumah Baru Lantai.2 Siap huni Jimbaran Bali    875000000
2                     TANAH 425 M2 BONUS KOSAN 10 KAMAR   3000000000
3       Dijual Tanah Kavling Di Blahbatuh, Gianyar Bali   3650000000
4               VILLA MEWAH VIEW LAUT LOKASI SANUR BALI  11985000000
...                                                 ...          ...
1782        BUC 20 Are Murah Padang Linjong Canggu Bali    750000000
1783             Jual guest house  di tibubeneng Canggu   7000000000
1784  Dijual tanah murah di Green Lot Canggu. LT 843...    550000000
1785        Dijual Tanah Kuwum Ancak Marga Tabanan Bali   3371400000
1786    WOW 1,8 Are Beranda Bukit Goa Gong Ungasan Bali    250000000

                                       property_details  status
0     [{"type":"single","key":"type","value_name":"R...  active
1     [{"type":"single","key":"p_sqr_building","valu...  active
2     [{"type":"single","key":"type","value_name":"R...  active
3     [{"type":"single","key":"type","value_name":""...  active
4     [{"type":"single","key":"type","value_name":"R...  active
...                                                 ...     ...
1782  [{"type":"single","key":"type","value_name":"D...  active
1783  [{"type":"single","key":"type","value_name":"R...  active
1784  [{"type":"single","key":"type","value_name":"D...  active
1785  [{"type":"single","key":"type","value_name":""...  active
1786  [{"type":"single","key":"type","value_name":"D...  active

[1787 rows x 4 columns]

In [260]:
import requests
req = requests.get('http://ml.cakeplabs.com:1891/api/properties')
response = req.json()
for item in response:
    details = item['property_details']
    for type in details: 
            print("Value: ",type['formatted_value'])
            print("==========")
            print("ID :", item['id'])
            print("Title: ", item['title'])
            print("Price:", item['price'])
            print("Status:", item['status'])

Value:  Rumah
==========
ID : 1951
Title:  Rumah Minimalis Berkonsep Villa di Areal Elite Mumbul Nusa Dua
Price: 1080000000
Status: active
Value:  72
==========
ID : 1951
Title:  Rumah Minimalis Berkonsep Villa di Areal Elite Mumbul Nusa Dua
Price: 1080000000
Status: active
Value:  120
==========
ID : 1951
Title:  Rumah Minimalis Berkonsep Villa di Areal Elite Mumbul Nusa Dua
Price: 1080000000
Status: active
Value:  2
==========
ID : 1951
Title:  Rumah Minimalis Berkonsep Villa di Areal Elite Mumbul Nusa Dua
Price: 1080000000
Status: active
Value:  1
==========
ID : 1951
Title:  Rumah Minimalis Berkonsep Villa di Areal Elite Mumbul Nusa Dua
Price: 1080000000
Status: active

KeyError: 'formatted_value'